.label {
    font-weight:500;
  }
  .icon{
    color: blueviolet;
  }
  .span{
    font-weight: bold;
    font-style: italic;
    color: blueviolet;
    margin-left: 5px;
  }
  .span2{
    font-weight: bold;
    font-style: italic;
    color: gray;
    margin-left: 5px;
  
  }
  .proses{
    text-align: center;
    display: flex;
    align-items: center;
  }