.daftar {
  flex: 1;
  position: relative;
  line-height: 36px;
}
.masuk,
.username {
  align-self: stretch;
}
.masuk {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.username {
  position: relative;
  line-height: 18px;
}
.input,
.inputChild {
  align-self: stretch;
  display: flex;
}
.inputChild {
  border: 1px solid #d0d0d0;
  font-family: Poppins;
  font-size: 14px;
  background-color: #fff;
  border-radius: 16px;
  flex-direction: row;
  padding: 12px 16px;
  align-items: center;
  justify-content: center;
}
.input {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.buatPassword {
  flex: 1;
  position: relative;
  line-height: 18px;
}
.inputItem,
.terbitkan {
  font-size: 14px;
  font-family: Poppins;
}
.inputItem {
  border: 1px solid #d0d0d0;
  background-color: #fff;
  align-self: stretch;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  padding: 12px 16px;
  align-items: center;
  justify-content: flex-start;
}
.terbitkan {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.fiheartIcon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button,
.buttonWrapper {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 12px 24px;
  background-color: #188e55;
  border-radius: 16px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4px;
}
.button:hover {
  background-color: #277029;
}
.buttonWrapper {
  padding: 8px 0 0;
  justify-content: center;
}
.buttonWrapper,
.buttonWrapper:active,
.buttonWrapper:hover,
.inner {
  flex-direction: column;
}
.inner {
  align-self: stretch;
  display: flex;
  padding: 0 45.9900016784668px 0 0;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 12px;
}
.masukDiSini,
.sudahPunyaAkun {
  position: relative;
  line-height: 20px;
}
.masukDiSini {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  font-family: Poppins;
  color: #188e55;
  text-align: left;
  display: inline-block;
  width: 104px;
  flex-shrink: 0;
}
.masukDiSini:hover {
  color: #277029;
}
.formdaftar,
.register {
  display: flex;
  align-items: center;
  justify-content: center;
}
.register {
  width: 322px;
  flex-direction: row;
  gap: 8px;
  font-size: 14px;
}
.formdaftar {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: 32px;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Poppins;
}
@media screen and (max-width: 1200px) {
  .button {
    background-color: #277029;
  }
  .buttonWrapper:active,
  .buttonWrapper:hover {
    flex-direction: column;
  }
  .formdaftar {
    flex: unset;
    align-self: stretch;
  }
}
@media screen and (max-width: 960px) {
  .buttonWrapper:hover {
    flex-direction: column;
  }
  .formdaftar {
    flex: unset;
    align-self: stretch;
  }
}
@media screen and (max-width: 420px) {
  .masukDiSini:hover {
    color: #277029;
  }
  .register {
    flex-direction: column;
  }
}