.logoIcon {
  position: relative;
  width: 266px;
  height: 156px;
  object-fit: cover;
}
.masukkanEmail {
  flex: 1;
  position: relative;
  line-height: 36px;
}
.inputemail {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.email {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.form,
.input {
  align-self: stretch;
  display: flex;
}
.input {
  border: 1px solid #d0d0d0;
  font-family: Poppins;
  font-size: 14px;
  background-color: #fff;
  border-radius: 16px;
  flex-direction: row;
  padding: 12px 16px;
  align-items: center;
  justify-content: center;
}
.form {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.terbitkan {
  flex: 1;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Poppins;
  color: #fff;
  text-align: center;
}
.fiheartIcon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button,
.buttonWrapper {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 12px 24px;
  background-color: #188e55;
  border-radius: 16px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4px;
}
.button:hover {
  background-color: #277029;
}
.buttonWrapper {
  padding: 8px 0 0;
  justify-content: center;
}
.buttonWrapper,
.buttonWrapper:active,
.buttonWrapper:hover,
.forminput,
.inner {
  flex-direction: column;
}
.forminput,
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  align-self: stretch;
  padding: 0 45.9900016784668px 0 0;
  gap: 16px;
  font-size: 12px;
}
.forminput {
  flex: 1;
  overflow: hidden;
  gap: 32px;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Poppins;
}
@media screen and (max-width: 1200px) {
  .buttonWrapper:active,
  .buttonWrapper:hover {
    flex-direction: column;
  }
  .forminput {
    flex: unset;
    align-self: stretch;
  }
}
@media screen and (max-width: 960px) {
  .logoIcon {
    display: flex;
  }
  .buttonWrapper:hover {
    flex-direction: column;
  }
  .forminput {
    flex: unset;
    align-self: stretch;
  }
}
