.FormcariPenerbangan {
    padding: 50px;
    margin: 50px;
    margin-left: 700px;
    margin-top: 210px;
}

.frm {
    width: 657px;
    height: 127px;
    border: 2px solid #F2F2F2;
    border-radius: 8px;
    padding: 10px, 16px, 10px, 16px;
    gap: 12px;
    background-color: #FFFFFF;
    margin-bottom: 11px;
    padding-top: 10px;
}

.airline {
    display: flex;
    width: 625px;
    margin-left: 13px;
}

.testh1 {
    width: 561px;
    font-family: 'Poppins';
    line-height: 18px;
    size: 12px;
    margin-left: 8px;
    margin-top: 2px;
}

.iconthumbnail {
    width: 24px;
    height: 24px;
}

.ccld {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    color: #D0D0D0;
}

.info {
    display: flex;
    width: 625px;
    height: 71px;
    padding: 0px, 0px, 16px, 0px;
    gap: 16px;
    margin-left: 13px;
}

.br {
    font-family: 'Poppins';
    margin-left: 28px;
    margin-top: 10px;
}

.br2 {
    font-family: 'Poppins';
    margin-left: -103px;
    margin-top: 10px;
}

.p1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.p2 {
    font-weight: 500;
    font-size: 12px;
}

.p3 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    color: #8A8A8A;
}

.if {
    margin-left: 100px;
    margin-top: 7px;
}

.arw {
    margin-left: -100px;
    width: 333px;
}

.kpr {
    width: 24px;
    height: 24px;
    color: rgb(22, 163, 74);
}

.hrg {
    font-style: 'Poppins';
    margin-left: 109px;
    margin-top: 8px;
}

.idr {
    width: 113px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.plh {
    width: 100px;
    height: 32px;
    padding: 4px, 12px, 4px, 12px;
    border-radius: 12px;
    gap: 8px;
    margin-left: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #FFFFFF;
    background-color: rgb(22, 163, 74);
}

.airline, .info {
    margin-top: 5px;
}

.br, .if, .br2, .kpr {
    margin-top: 15px;
}