.divider {
  align-self: stretch;
  position: relative;
  background-color: #e5e5e5;
  height: 1px;
}
.vectorIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.materialSymbolscircleNotifi {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 2px;
  align-items: center;
  justify-content: center;
}
.notifikasi1 {
  position: relative;
  line-height: 14px;
}
.iconnotifikasi {
  width: 118px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.datenotifikasiChild {
  position: relative;
  border-radius: 50%;
  background-color: #fa2c5a;
  width: 8px;
  height: 8px;
}
.datenotifikasi,
.notifikasiheader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.datenotifikasi {
  justify-content: flex-start;
  gap: 8px;
}
.notifikasiheader {
  align-self: stretch;
  padding: 0 136px 0 0;
  justify-content: space-between;
}
.terdapatPerubahanPada {
  margin: 0;
}
.syaratDanKetentuan,
.terdapatPerubahanPadaContainer {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.syaratDanKetentuan {
  font-size: 14px;
  line-height: 14px;
  color: #8a8a8a;
}
.info {
  align-self: stretch;
  display: flex;
  padding: 0 0 0 40px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  font-size: 16px;
  color: #000;
}
.data,
.info,
.konten {
  flex-direction: column;
}
.konten {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.data {
  flex: 1;
}
.data,
.detailouter,
.frameinnder,
.notifikasi {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameinnder {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: 0 261px 0 275px;
}
.detailouter,
.notifikasi {
  flex-direction: column;
}
.detailouter {
  align-self: stretch;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
  padding: 25px 0 0;
}
.notifikasi {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #8a8a8a;
  font-family: Poppins;
}
@media screen and (max-width: 1200px) {
  .data {
    flex: unset;
    align-self: stretch;
  }
  .frameinnder {
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  .frameinnder {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .notifikasiheader {
    flex-direction: column;
    padding-left: 0;
    box-sizing: border-box;
  }
  .frameinnder,
  .info {
    padding-left: 65px;
    box-sizing: border-box;
  }
  .frameinnder {
    padding-left: 15px;
  }
}
@media screen and (max-width: 350px) {
  .info {
    padding-left: 25px;
    box-sizing: border-box;
  }
}
.merah {
  background-color: #fa2c5a;
}
.hijau {
  background-color: #73ca5c;
}
