.monthYear {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 24px;
}
.title {
  width: 247px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.card1:hover,
.month {
  box-sizing: border-box;
}
.month {
  width: 468px;
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
}
.statusTiket {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-family: Poppins;
  color: #fff;
  text-align: left;
}
.status,
.ticketStatus {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ticketStatus {
  cursor: pointer;
  border: 0;
  padding: 4px 12px;
  background-color: #8a8a8a;
  border-radius: 16px;
  flex-direction: row;
}
.unpaidStatus {
  background-color: #73ca5c;
}
.unpaidStatus {
  background-color: #ff0000;
}

.status {
  align-self: stretch;
  flex-direction: column;
  padding: 4px 0;
}
.iconWrapper {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.asal,
.iconWrapper,
.tgl {
  position: relative;
}
.asal {
  font-size: 14px;
  line-height: 20px;
}
.tgl {
  line-height: 18px;
  font-weight: 500;
}
.durasi,
.info1,
.keberangkatan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.durasi,
.keberangkatan {
  width: 134.67px;
  flex-direction: row;
  gap: 8px;
}
.durasi {
  width: 75.67px;
  justify-content: center;
  gap: 1px;
}
.flighticon {
  position: relative;
  width: 94.33px;
  height: 15.1px;
}
.durasiParent,
.estimasi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.durasiParent {
  gap: 18px;
}
.estimasi {
  flex: 1;
  text-align: center;
  color: #3c3c3c;
}
.tujuan {
  position: relative;
  line-height: 20px;
}
.p {
  margin: 0;
}
.tgl1 {
  position: relative;
  font-size: 12px;
  line-height: 18px;
}
.destination,
.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.destination {
  width: 134.67px;
  align-items: flex-start;
  gap: 8px;
  font-size: 14px;
}
.info {
  align-self: stretch;
  border-bottom: 1px solid #d0d0d0;
  padding: 16px 0;
  align-items: center;
  gap: 16px;
}
.idNumber {
  flex: 1;
  position: relative;
  line-height: 18px;
}
.label {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}
.flight {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;
  text-align: right;
  font-size: 14px;
  color: #189345;
}
.card1,
.info3,
.sectionContent {
  align-self: stretch;
  justify-content: flex-start;
}
.info3 {
  display: flex;
  flex-direction: row;
  padding: 8px 0;
  align-items: flex-end;
  gap: 8px;
}
.card1,
.sectionContent {
  flex-direction: column;
}
.sectionContent {
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.card1 {
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  padding: 12px 16px;
}
.card1:hover {
  border: 1px solid rgba(22, 163, 74, 0.5);
}
.card1,
.durasi1,
.status1,
.ticketStatus1 {
  display: flex;
  align-items: flex-start;
}
.ticketStatus1 {
  border-radius: 16px;
  background-color: red;
  flex-direction: row;
  padding: 4px 12px;
  justify-content: flex-start;
}
.durasi1,
.status1 {
  align-self: stretch;
}
.status1 {
  flex-direction: column;
  padding: 4px 0;
  justify-content: flex-start;
  font-size: 14px;
  color: #fff;
}
.durasi1 {
  flex-direction: row;
  justify-content: center;
  gap: 1px;
}
.flighticon1 {
  position: relative;
  width: 92.17px;
  height: 15.1px;
}
.estimasi1,
.framecard,
.ticketStatus2 {
  display: flex;
  justify-content: flex-start;
}
.estimasi1 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  text-align: center;
  color: #3c3c3c;
}
.framecard,
.ticketStatus2 {
  align-items: flex-start;
}
.ticketStatus2 {
  border-radius: 16px;
  background-color: #8a8a8a;
  flex-direction: row;
  padding: 4px 12px;
}
.framecard {
  flex: 1;
  flex-direction: column;
  gap: 42px;
}
.detil {
  position: relative;
  line-height: 26px;
  display: inline-block;
  width: 252px;
  flex-shrink: 0;
}
.detailStatus,
.ticketStatus3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.ticketStatus3 {
  border-radius: 16px;
  padding: 4px 12px;
  justify-content: flex-start;
  font-size: 14px;
  color: #fff;
}
.detailStatus {
  align-self: stretch;
  justify-content: space-between;
}
.b {
  color: #16a34a;
}
.code1 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  width: 250px;
  flex-shrink: 0;
}
.code,
.detail {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.detail {
  flex-direction: column;
  padding: 0 0 10px;
  gap: 6px;
  font-size: 18px;
}
.b1 {
  line-height: 24px;
}
.maret20233 {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
.jam6,
.plane {
  position: relative;
}
.plane {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.jadwal {
  width: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}
.berangkat {
  position: relative;
  line-height: 18px;
}
.info12,
.status3 {
  display: flex;
  justify-content: flex-start;
}
.status3 {
  flex: 1;
  flex-direction: column;
  padding: 2px 0 0;
  align-items: flex-end;
  text-align: right;
  font-size: 12px;
  color: #189345;
}
.info12 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 16px;
  align-items: flex-start;
  gap: 16px;
  font-size: 16px;
}
.dividerIcon {
  position: relative;
  width: 328px;
  height: 1px;
}
.aspectRatioIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 0;
  flex-shrink: 0;
}
.scaleUnitHorizontal,
.scaleUnitHorizontal1,
.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.7;
}
.top {
  align-self: stretch;
  overflow: hidden;
}
.scaleUnitHorizontal,
.scaleUnitHorizontal1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
}
.scaleUnitHorizontal1 {
  left: 12px;
}
.row {
  align-self: stretch;
  position: relative;
  height: 12px;
  opacity: 0;
}
.image,
.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image {
  width: 24px;
  justify-content: flex-start;
  background-image: url(/image@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.thumbnail {
  align-self: stretch;
  justify-content: center;
  z-index: 1;
}
.jetAirEconomy1 {
  line-height: 18px;
}
.blankLine2 {
  font-weight: 500;
}
.blankLine {
  margin: 0;
  font-size: 12px;
}
.penumpang1Mr {
  line-height: 20px;
  font-weight: 500;
}
.penumpang1MrHarryPotter {
  margin: 0;
  color: #189345;
}
.info13 {
  flex: 1;
  position: relative;
}
.textContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 0;
}
.airline,
.listItem {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.listItem {
  flex-direction: row;
  padding: 8px 0;
  align-items: center;
  gap: 8px;
}
.airline {
  flex-direction: column;
  align-items: flex-start;
}
.plane1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.info14,
.jadwal1 {
  display: flex;
  align-items: flex-start;
}
.jadwal1 {
  width: 222px;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.info14 {
  align-self: stretch;
  flex-direction: row;
  padding: 12px 0 16px;
  justify-content: flex-start;
  gap: 16px;
}
.rincianBayar {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.label3,
.label4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 0;
}
.label4 {
  z-index: 1;
}
.suffix {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;
  text-align: right;
}
.label5,
.listItem2,
.suffix {
  align-self: stretch;
  display: flex;
}
.listItem2 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.label5 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.label7 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.label6 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
.harga3 {
  position: relative;
  line-height: 26px;
}
.total1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;
  text-align: right;
  font-size: 18px;
  color: #189345;
}
.harga,
.listItem4,
.total {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.listItem4 {
  flex-direction: row;
  padding: 12px 0;
  align-items: center;
  gap: 8px;
}
.harga,
.total {
  flex-direction: column;
  align-items: flex-start;
}
.total {
  border-top: 1px solid #d0d0d0;
  font-size: 16px;
}
.harga {
  padding: 8px 0;
  gap: 4px;
}
.deskripsi,
.sectionContent3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionContent3 {
  align-self: stretch;
  overflow: hidden;
  justify-content: flex-start;
}
.deskripsi {
  flex: 1;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  padding: 36px 12px;
  justify-content: center;
  font-size: 14px;
}
.detailouter,
.frameinnder,
.historyPage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameinnder {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: 0 261px 0 275px;
  gap: 98px;
}
.detailouter,
.historyPage {
  flex-direction: column;
}
.detailouter {
  align-self: stretch;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
  padding: 25px 0 0;
}
.historyPage {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: #151515;
  font-family: Poppins;
}
@media screen and (max-width: 1200px) {
  .info {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
  }
  .deskripsi,
  .framecard {
    flex: unset;
    align-self: stretch;
  }
  .frameinnder {
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  .info {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
  }
  .frameinnder {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .flighticon {
    max-width: 50%;
    height: auto;
  }
  .info {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
  }
  .flighticon1 {
    max-width: 50%;
    height: auto;
  }
}

.illustrationCartShoppingLi {
  position: relative;
  width: 204px;
  height: 209px;
  object-fit: cover;
}
.oopsRiwayatPesanan {
  margin: 0;
  color: #0db44a;
}
.andaBelumMelakukan {
  margin: 0;
  color: #000;
}
.oopsRiwayatPesananContainer {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.oopsRiwayatPesananKosongWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 10px;
  align-items: flex-start;
  justify-content: center;
}
.illustrationCartShoppingLiParent {
  align-self: stretch;
  align-items: center;
  gap: 17px;
}
.frameParent,

.illustrationCartShoppingLiParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  align-items: center;
  gap: 17px;
}

@media screen and (max-width: 960px) {
  .illustrationCartShoppingLi {
    max-width: 50%;
    height: auto;
  }
  .frameParent {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 961px) {
  .frameParent {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    padding-left: 50px;
  }
}
