.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.card {
  padding: 10px 0px;
  width: 518px;
  height: 498px;
  background: #FFFFFF;
  border: 1px solid #8A8A8A;
  
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  
  /* Inside auto layout */
  
  order: 0;
  flex-grow: 0;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.table td:first-child {
  font-weight: bold;
}


.button {
  margin-top: 20px;
  padding: 5px 20px;
  background-color: white;
  color: #4d2771;
  border: 1px solid;
  border-color: #4d2771;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #4d2771;
  color: white;
}
