.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .form {
    width: 400px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .formlabel {
    display: block;
    margin-bottom: 10px;
  }
  
  .forminput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formbutton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0080ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formbutton:hover {
    background-color: #005cbf;
  }
  